.list-movie{
  border: 0 !important;
  height: 100%;
  .list-item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #eee;
    .left{
      img{
        width: 80px;
      }
      margin-right: 10px;
    }
    .right{
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
      justify-content: flex-start;
      align-items: flex-start;
      & > *{
        margin-bottom: 6px;
      }
      .title{
        font-size: 16px;
        font-weight: bold;
        width: 100%;
      }
      .casts {
        width: 100%;
      }
    }
    .ticket{
      align-self: center;
      padding-left: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 78px;
      .watched{
        font-size: 12px;
        color: #fe6676;
        margin-bottom: 5px;
      }
      >a{
        display: inline-block;
        border: 1px solid #fe6676;
        padding: 5px 8px;
        color: #fe6676;
        border-radius: 3px;
      }
    }
  }
}
.am-list-body:before {
  background-color: transparent !important;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-list-body::before {
    background-color: transparent !important;
  }
}
.am-list{
  width: 100% !important;
}